<h1>Movies Index Page</h1> 

<%= button_to "Discover Movies", "/dashboard/discover", method: :get, :class => "discover" %>

<ul id="movies">
	<% if params[:top_rated] %>
		<h3>Top Rated Movies</h3>
		<% @movies.each do |movie| %>
<%= link_to (image_tag "http://image.tmdb.org/t/p/w500#{movie.poster_path}"), "/dashboard/movies/#{movie.id}" %>
			<p>Vote Average <%= movie.vote_average %></p>
			<br>
			<br>
		<% end %>


	<% elsif params[:search] %>
		<h3>Search Movies</h3>

		<% @movies.each do |movie| %>
			<%= link_to (image_tag "http://image.tmdb.org/t/p/w500#{movie.poster_path}"), "/dashboard/movies/#{movie.id}" %>
			<p>Vote Average <%= movie.vote_average %></p>
			<br>
			<br>
		<% end %>
	<% end %>
</ul>
