<h1>Create A Viewing Party</h1>

<div class="form">
	<h3><%= @movie.title %> </h3>

	<p><%= form_with url: "/dashboard/movies/#{@movie.id}/viewing-party",
				method: :post,
				local: :true,
				html: { style: "text-align: left;" } do |f| %></p>

		<p><%= f.label :duration %>
		<%= f.number_field :duration, value: @movie.runtime, min: @movie.runtime %> min</p>

		<p><%= f.label :party_date %>
		<%= f.date_field :party_date, min: Date.today %></p>

		<p><%= f.label :party_time %>
		<%= f.time_field :party_time %></p>

		<p><%= f.label :users, "Invite Other Users" %>
		<%= f.collection_check_boxes(:users, User.all.reject { |user| user == current_user}, :id, :name, include_hidden: false) %></p>
		<%= f.hidden_field :host_id, value: @user.id %>
		<%= f.hidden_field :movie_id, value: @movie.id %>
		

		<p><%= f.submit "Create Party", :class => "discover" %></p>
	<% end %>
</div>