<h1>Viewing Parties New Page</h1>

<%= @movie.title %>

<%= form_with url: "/users/#{@user.id}/movies/#{@movie.id}/viewing-party", method: :post, local: :true do |f| %>
  <%= f.label :duration %>
  <%= f.number_field :duration, value: @movie.runtime, min: @movie.runtime %>

  <%= f.label :party_date %>
  <%= f.date_field :party_date, min: Date.today %>

  <%= f.label :party_time %>
  <%= f.time_field :party_time %>

  <%= f.label :check_boxes, "Invite Other Users" %>
	<%= f.collection_check_boxes(:attendees, @users, :id, :name) %>
  
  <%= f.hidden_field :host_id, value: @user.id %>
  <%= f.hidden_field :movie_id, value: @movie.id %>

  <%= f.submit "Create Party" %>
<% end %>