<h1>Register as a User!</h1>

<p><%= form_with model: @user do |form| %></p>
	<p><%= form.label :name, 'Name:' %></p>
  <p><%= form.text_field :name %></p>

	<p><%= form.label :email, 'Email:' %></p>
  <p><%= form.text_field :email %></p>

  <p><%= form.label :password, 'Password:' %></p>
  <p><%= form.password_field :password %></p>

	<p><%= form.label :password_confirmation, 'Confirmation:' %></p>
  <p><%= form.password_field :password_confirmation %></p>

  <p><%= form.submit 'Register', :class => "discover" %></p>
<% end %>
