<h1><%= @user.name %>'s Dashboard</h1>

<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>


  <h2> Viewing Parties </h2>
	<% @parties_info.each do |party| %>

		<p><img src=<%= "#{party[:image]}"%>></p>
		<h3><%= party[:title] %></h3>
		<p>Duration: <%= party[:duration] %> minutes</p>
		<p>Start Time: <%= party[:time] %></p>
		<p>Date: <%= party[:date] %></p>

		<% if @user.name == party[:host] %>
			<p>I am the host</p>
		<% else %>
			<p>Host: <%= party[:host] %></p>
		<% end %>
			
		<p> Attendees: <% party[:attendees].each do |atten| %></p>
			<p><%= atten %></p>
			<% end %>
	<% end %>