<h1> Discover Page</h1>

<p><%= button_to "Top Rated Movies", "/users/#{@user.id}/movies" , method: :get %></p>

<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |f| %>
  <%= f.label :search, "Discover Movies" %>
  <%= f.text_field :search %>
  <%= f.submit "Find Movies" %>
<% end%>
