<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
	
    <%= link_to "Landing Page", root_path %>
		<% if current_user %>
    <%= link_to "Discover Page", user_path(current_user) %>
		<%= link_to "Log Out", logout_path %>
		<% end %>
    <br>
    <br>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
